# EditorConfig - WherEver Project
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java, Kotlin, Scala
[*.{java,kt,kts,scala}]
indent_style = space
indent_size = 4
max_line_length = 120

# JavaScript, TypeScript
[*.{js,ts,tsx,json}]
indent_style = space
indent_size = 2

# Dart, Flutter
[*.{dart,yaml,yml}]
indent_style = space
indent_size = 2

# XML
[*.{xml,xml}]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

# Makefile
[Makefile]
indent_style = tab
